.box-bin { 
/*
    background-color: blue;
*/
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.button-box {
    spacing: 4px;
/*
    background-color: green;
*/
}

.window-button {
    width: 24px;
    height: 20px;
/*
    background-color: red;
*/
}

.window-button:hover {
}

.minimize {
    background-image: url('min.svg');
}

.maximize {
    background-image: url('max.svg');
}

.close {
    background-image: url('close.svg');
}
