.box-bin { 
}

.button-box {
    spacing: 4px;
}

.window-button {
    width: 24px;
    height: 20px;
}

.window-button:hover {
}

.minimize {
    background-image: url('min.svg');
}

.maximize {
    background-image: url('max.svg');
}

.close {
    background-image: url('close.svg');
}
