.box-bin { }

.button-box {
    spacing: 4px;
}

.window-button {
    width: 12px;
    height: 12px;
    
    border-width: 2px;
    border-color: rgba(0,0,0,0);
    border-radius: 8px;
}

.window-button:hover {
    border: 2px solid #ccc;
    border-radius: 8px;
}

.window-button:active {
    background-image: none;
}

.minimize {
    background-image: url('minimize.png');
}

.maximize {
    background-image: url('maximize.png');
}

.close {
    background-image: url('close.png');
}
